.git
.github
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
docs/
visualization/
ragpon/apps/fastapi/models/
ragpon/apps/logs/
ragpon/examples/db/
ragpon/apps/chroma/data/
node_modules/
dist/
build/
