alabaster==1.0.0 ; python_version >= "3.11" and python_version < "3.14"
altair==5.5.0 ; python_version >= "3.11" and python_version < "3.14"
annotated-doc==0.0.4 ; python_version >= "3.11" and python_version < "3.14"
annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "3.14"
anyio==4.4.0 ; python_version >= "3.11" and python_version < "3.14"
appnope==0.1.4 ; python_version >= "3.11" and python_version < "3.14" and platform_system == "Darwin"
argon2-cffi-bindings==21.2.0 ; python_version >= "3.11" and python_version < "3.14"
argon2-cffi==23.1.0 ; python_version >= "3.11" and python_version < "3.14"
arrow==1.3.0 ; python_version >= "3.11" and python_version < "3.14"
asgiref==3.8.1 ; python_version >= "3.11" and python_version < "3.14"
astroid==3.3.8 ; python_version >= "3.11" and python_version < "3.14"
asttokens==2.4.1 ; python_version >= "3.11" and python_version < "3.14"
async-lru==2.0.4 ; python_version >= "3.11" and python_version < "3.14"
attrs==23.2.0 ; python_version >= "3.11" and python_version < "3.14"
babel==2.15.0 ; python_version >= "3.11" and python_version < "3.14"
backoff==1.11.1 ; python_version >= "3.11" and python_version < "3.14"
bcrypt==4.1.3 ; python_version >= "3.11" and python_version < "3.14"
beautifulsoup4==4.12.3 ; python_version >= "3.11" and python_version < "3.14"
black==26.3.1 ; python_version >= "3.11" and python_version < "3.14"
bleach[css]==6.1.0 ; python_version >= "3.11" and python_version < "3.14"
blinker==1.9.0 ; python_version >= "3.11" and python_version < "3.14"
blis==0.7.11 ; python_version >= "3.11" and python_version < "3.14"
boolean-py==4.0 ; python_version >= "3.11" and python_version < "3.14"
build==1.2.1 ; python_version >= "3.11" and python_version < "3.14"
cachecontrol[filecache]==0.14.1 ; python_version >= "3.11" and python_version < "3.14"
cachetools==5.3.3 ; python_version >= "3.11" and python_version < "3.14"
catalogue==2.0.10 ; python_version >= "3.11" and python_version < "3.14"
certifi==2024.12.14 ; python_version >= "3.11" and python_version < "3.14"
cffi==1.16.0 ; python_version >= "3.11" and python_version < "3.14"
chardet==5.2.0 ; python_version >= "3.11" and python_version < "3.14"
charset-normalizer==3.3.2 ; python_version >= "3.11" and python_version < "3.14"
chroma-hnswlib==0.7.6 ; python_version >= "3.11" and python_version < "3.14"
chromadb==0.5.20 ; python_version >= "3.11" and python_version < "3.14"
click==8.1.7 ; python_version >= "3.11" and python_version < "3.14"
cloudpathlib==0.18.1 ; python_version >= "3.11" and python_version < "3.14"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.14"
coloredlogs==15.0.1 ; python_version >= "3.11" and python_version < "3.14"
comm==0.2.2 ; python_version >= "3.11" and python_version < "3.14"
confection==0.1.5 ; python_version >= "3.11" and python_version < "3.14"
ctranslate2==4.5.0 ; python_version >= "3.11" and python_version < "3.14"
cuda-bindings==13.2.0 ; python_version >= "3.11" and python_version < "3.14" and platform_system == "Linux"
cuda-pathfinder==1.5.0 ; python_version >= "3.11" and python_version < "3.14" and platform_system == "Linux"
cuda-toolkit[cublas,cudart,cufft,cufile,cupti,curand,cusolver,cusparse,nvjitlink,nvrtc,nvtx]==13.0.2 ; python_version >= "3.11" and python_version < "3.14" and platform_system == "Linux"
cyclonedx-python-lib==7.6.2 ; python_version >= "3.11" and python_version < "3.14"
cymem==2.0.8 ; python_version >= "3.11" and python_version < "3.14"
debugpy==1.8.1 ; python_version >= "3.11" and python_version < "3.14"
decorator==5.1.1 ; python_version >= "3.11" and python_version < "3.14"
defusedxml==0.7.1 ; python_version >= "3.11" and python_version < "3.14"
deprecated==1.2.14 ; python_version >= "3.11" and python_version < "3.14"
dill==0.3.9 ; python_version >= "3.11" and python_version < "3.14"
distro==1.9.0 ; python_version >= "3.11" and python_version < "3.14"
docutils==0.21.2 ; python_version >= "3.11" and python_version < "3.14"
executing==2.0.1 ; python_version >= "3.11" and python_version < "3.14"
fastapi==0.135.2 ; python_version >= "3.11" and python_version < "3.14"
fastjsonschema==2.19.1 ; python_version >= "3.11" and python_version < "3.14"
filelock==3.25.2 ; python_version >= "3.11" and python_version < "3.14"
flake8==7.0.0 ; python_version >= "3.11" and python_version < "3.14"
flatbuffers==24.3.25 ; python_version >= "3.11" and python_version < "3.14"
fqdn==1.5.1 ; python_version >= "3.11" and python_version < "3.14"
fsspec==2024.6.0 ; python_version >= "3.11" and python_version < "3.14"
fugashi==1.4.0 ; python_version >= "3.11" and python_version < "3.14"
ginza==5.2.0 ; python_version >= "3.11" and python_version < "3.14"
gitdb==4.0.12 ; python_version >= "3.11" and python_version < "3.14"
gitpython==3.1.44 ; python_version >= "3.11" and python_version < "3.14"
google-auth==2.30.0 ; python_version >= "3.11" and python_version < "3.14"
googleapis-common-protos==1.73.0 ; python_version >= "3.11" and python_version < "3.14"
graphviz==0.20.3 ; python_version >= "3.11" and python_version < "3.14"
greenlet==3.2.3 ; python_version < "3.14" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version >= "3.11"
grpcio==1.64.1 ; python_version >= "3.11" and python_version < "3.14"
h11==0.16.0 ; python_version >= "3.11" and python_version < "3.14"
hf-xet==1.1.5 ; python_version >= "3.11" and python_version < "3.14" and (platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "arm64" or platform_machine == "aarch64")
html5lib==1.1 ; python_version >= "3.11" and python_version < "3.14"
httpcore==1.0.9 ; python_version >= "3.11" and python_version < "3.14"
httptools==0.6.1 ; python_version >= "3.11" and python_version < "3.14"
httpx==0.27.0 ; python_version >= "3.11" and python_version < "3.14"
huggingface-hub==0.33.4 ; python_version >= "3.11" and python_version < "3.14"
humanfriendly==10.0 ; python_version >= "3.11" and python_version < "3.14"
idna==3.7 ; python_version >= "3.11" and python_version < "3.14"
imagesize==1.4.1 ; python_version >= "3.11" and python_version < "3.14"
importlib-metadata==7.1.0 ; python_version >= "3.11" and python_version < "3.14"
importlib-resources==6.4.0 ; python_version >= "3.11" and python_version < "3.14"
iniconfig==2.0.0 ; python_version >= "3.11" and python_version < "3.14"
ipykernel==6.29.4 ; python_version >= "3.11" and python_version < "3.14"
ipython==8.25.0 ; python_version >= "3.11" and python_version < "3.14"
isoduration==20.11.0 ; python_version >= "3.11" and python_version < "3.14"
isort==5.13.2 ; python_version >= "3.11" and python_version < "3.14"
ja-ginza==5.2.0 ; python_version >= "3.11" and python_version < "3.14"
jedi==0.19.1 ; python_version >= "3.11" and python_version < "3.14"
jinja2==3.1.6 ; python_version >= "3.11" and python_version < "3.14"
jiter==0.8.2 ; python_version >= "3.11" and python_version < "3.14"
joblib==1.4.2 ; python_version >= "3.11" and python_version < "3.14"
json5==0.9.25 ; python_version >= "3.11" and python_version < "3.14"
jsonpointer==2.4 ; python_version >= "3.11" and python_version < "3.14"
jsonschema-specifications==2023.12.1 ; python_version >= "3.11" and python_version < "3.14"
jsonschema==4.22.0 ; python_version >= "3.11" and python_version < "3.14"
jsonschema[format-nongpl]==4.22.0 ; python_version >= "3.11" and python_version < "3.14"
jupyter-client==8.6.2 ; python_version >= "3.11" and python_version < "3.14"
jupyter-core==5.8.1 ; python_version >= "3.11" and python_version < "3.14"
jupyter-events==0.10.0 ; python_version >= "3.11" and python_version < "3.14"
jupyter-lsp==2.2.5 ; python_version >= "3.11" and python_version < "3.14"
jupyter-server-terminals==0.5.3 ; python_version >= "3.11" and python_version < "3.14"
jupyter-server==2.14.1 ; python_version >= "3.11" and python_version < "3.14"
jupyterlab-pygments==0.3.0 ; python_version >= "3.11" and python_version < "3.14"
jupyterlab-server==2.28.0 ; python_version >= "3.11" and python_version < "3.14"
jupyterlab==4.5.6 ; python_version >= "3.11" and python_version < "3.14"
kubernetes==30.1.0 ; python_version >= "3.11" and python_version < "3.14"
langcodes==3.4.0 ; python_version >= "3.11" and python_version < "3.14"
language-data==1.2.0 ; python_version >= "3.11" and python_version < "3.14"
license-expression==30.4.0 ; python_version >= "3.11" and python_version < "3.14"
lxml==5.3.0 ; python_version >= "3.11" and python_version < "3.14"
marisa-trie==1.2.0 ; python_version >= "3.11" and python_version < "3.14"
markdown-it-py==3.0.0 ; python_version >= "3.11" and python_version < "3.14"
markupsafe==2.1.5 ; python_version >= "3.11" and python_version < "3.14"
matplotlib-inline==0.1.7 ; python_version >= "3.11" and python_version < "3.14"
mccabe==0.7.0 ; python_version >= "3.11" and python_version < "3.14"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "3.14"
mistune==3.0.2 ; python_version >= "3.11" and python_version < "3.14"
mmh3==4.1.0 ; python_version >= "3.11" and python_version < "3.14"
monotonic==1.6 ; python_version >= "3.11" and python_version < "3.14"
mpmath==1.3.0 ; python_version >= "3.11" and python_version < "3.14"
msgpack==1.1.0 ; python_version >= "3.11" and python_version < "3.14"
murmurhash==1.0.10 ; python_version >= "3.11" and python_version < "3.14"
mypy-extensions==1.0.0 ; python_version >= "3.11" and python_version < "3.14"
mypy==1.10.0 ; python_version >= "3.11" and python_version < "3.14"
mysql-connector-python==9.3.0 ; python_version >= "3.11" and python_version < "3.14"
narwhals==1.30.0 ; python_version >= "3.11" and python_version < "3.14"
nbclient==0.10.0 ; python_version >= "3.11" and python_version < "3.14"
nbconvert==7.17.0 ; python_version >= "3.11" and python_version < "3.14"
nbformat==5.10.4 ; python_version >= "3.11" and python_version < "3.14"
nest-asyncio==1.6.0 ; python_version >= "3.11" and python_version < "3.14"
networkx==3.3 ; python_version >= "3.11" and python_version < "3.14"
notebook-shim==0.2.4 ; python_version >= "3.11" and python_version < "3.14"
notebook==7.5.5 ; python_version >= "3.11" and python_version < "3.14"
numpy==1.26.4 ; python_version >= "3.11" and python_version < "3.14"
nvidia-cublas==13.1.0.3 ; python_version >= "3.11" and python_version < "3.14" and platform_system == "Linux"
nvidia-cuda-cupti==13.0.85 ; (sys_platform == "linux" or sys_platform == "win32") and python_version >= "3.11" and python_version < "3.14" and platform_system == "Linux"
nvidia-cuda-nvrtc==13.0.88 ; (sys_platform == "linux" or sys_platform == "win32") and python_version >= "3.11" and python_version < "3.14" and platform_system == "Linux"
nvidia-cuda-runtime==13.0.96 ; (sys_platform == "linux" or sys_platform == "win32") and python_version >= "3.11" and python_version < "3.14" and platform_system == "Linux"
nvidia-cudnn-cu13==9.19.0.56 ; python_version >= "3.11" and python_version < "3.14" and platform_system == "Linux"
nvidia-cufft==12.0.0.61 ; (sys_platform == "linux" or sys_platform == "win32") and python_version >= "3.11" and python_version < "3.14" and platform_system == "Linux"
nvidia-cufile==1.15.1.6 ; sys_platform == "linux" and python_version >= "3.11" and python_version < "3.14" and platform_system == "Linux"
nvidia-curand==10.4.0.35 ; (sys_platform == "linux" or sys_platform == "win32") and python_version >= "3.11" and python_version < "3.14" and platform_system == "Linux"
nvidia-cusolver==12.0.4.66 ; (sys_platform == "linux" or sys_platform == "win32") and python_version >= "3.11" and python_version < "3.14" and platform_system == "Linux"
nvidia-cusparse==12.6.3.3 ; (sys_platform == "linux" or sys_platform == "win32") and python_version >= "3.11" and python_version < "3.14" and platform_system == "Linux"
nvidia-cusparselt-cu13==0.8.0 ; python_version >= "3.11" and python_version < "3.14" and platform_system == "Linux"
nvidia-nccl-cu13==2.28.9 ; python_version >= "3.11" and python_version < "3.14" and platform_system == "Linux"
nvidia-nvjitlink==13.0.88 ; (sys_platform == "linux" or sys_platform == "win32") and python_version >= "3.11" and python_version < "3.14" and platform_system == "Linux"
nvidia-nvshmem-cu13==3.4.5 ; python_version >= "3.11" and python_version < "3.14" and platform_system == "Linux"
nvidia-nvtx==13.0.85 ; (sys_platform == "linux" or sys_platform == "win32") and python_version >= "3.11" and python_version < "3.14" and platform_system == "Linux"
oauthlib==3.2.2 ; python_version >= "3.11" and python_version < "3.14"
onnxruntime==1.18.0 ; python_version >= "3.11" and python_version < "3.14"
openai==1.65.5 ; python_version >= "3.11" and python_version < "3.14"
opentelemetry-api==1.25.0 ; python_version >= "3.11" and python_version < "3.14"
opentelemetry-exporter-otlp-proto-grpc==1.11.1 ; python_version >= "3.11" and python_version < "3.14"
opentelemetry-instrumentation-asgi==0.46b0 ; python_version >= "3.11" and python_version < "3.14"
opentelemetry-instrumentation-fastapi==0.46b0 ; python_version >= "3.11" and python_version < "3.14"
opentelemetry-instrumentation==0.46b0 ; python_version >= "3.11" and python_version < "3.14"
opentelemetry-proto==1.11.1 ; python_version >= "3.11" and python_version < "3.14"
opentelemetry-sdk==1.25.0 ; python_version >= "3.11" and python_version < "3.14"
opentelemetry-semantic-conventions==0.46b0 ; python_version >= "3.11" and python_version < "3.14"
opentelemetry-util-http==0.46b0 ; python_version >= "3.11" and python_version < "3.14"
orjson==3.11.7 ; python_version >= "3.11" and python_version < "3.14"
overrides==7.7.0 ; python_version >= "3.11" and python_version < "3.14"
packageurl-python==0.16.0 ; python_version >= "3.11" and python_version < "3.14"
packaging==24.1 ; python_version >= "3.11" and python_version < "3.14"
pandas==2.2.2 ; python_version >= "3.11" and python_version < "3.14"
pandocfilters==1.5.1 ; python_version >= "3.11" and python_version < "3.14"
parso==0.8.4 ; python_version >= "3.11" and python_version < "3.14"
pathspec==1.0.4 ; python_version >= "3.11" and python_version < "3.14"
peewee==3.17.5 ; python_version >= "3.11" and python_version < "3.14"
pexpect==4.9.0 ; python_version >= "3.11" and python_version < "3.14" and (sys_platform != "win32" and sys_platform != "emscripten")
pillow==12.1.1 ; python_version >= "3.11" and python_version < "3.14"
pip-api==0.0.34 ; python_version >= "3.11" and python_version < "3.14"
pip-audit==2.7.3 ; python_version >= "3.11" and python_version < "3.14"
pip-licenses==5.0.0 ; python_version >= "3.11" and python_version < "3.14"
pip-requirements-parser==32.0.1 ; python_version >= "3.11" and python_version < "3.14"
pip==24.3.1 ; python_version >= "3.11" and python_version < "3.14"
plac==1.4.3 ; python_version >= "3.11" and python_version < "3.14"
platformdirs==4.2.2 ; python_version >= "3.11" and python_version < "3.14"
pluggy==1.5.0 ; python_version >= "3.11" and python_version < "3.14"
podman-compose==1.4.0 ; python_version >= "3.11" and python_version < "3.14"
posthog==3.5.0 ; python_version >= "3.11" and python_version < "3.14"
preshed==3.0.9 ; python_version >= "3.11" and python_version < "3.14"
prettytable==3.12.0 ; python_version >= "3.11" and python_version < "3.14"
prometheus-client==0.21.1 ; python_version >= "3.11" and python_version < "3.14"
prompt-toolkit==3.0.47 ; python_version >= "3.11" and python_version < "3.14"
protobuf==3.20.3 ; python_version >= "3.11" and python_version < "3.14"
psutil==5.9.8 ; python_version >= "3.11" and python_version < "3.14"
psycopg2-binary==2.9.10 ; python_version >= "3.11" and python_version < "3.14"
ptyprocess==0.7.0 ; python_version >= "3.11" and python_version < "3.14" and (os_name != "nt" or sys_platform != "win32" and sys_platform != "emscripten")
pure-eval==0.2.2 ; python_version >= "3.11" and python_version < "3.14"
py-serializable==1.1.2 ; python_version >= "3.11" and python_version < "3.14"
pyarrow==19.0.1 ; python_version >= "3.11" and python_version < "3.14"
pyasn1-modules==0.4.0 ; python_version >= "3.11" and python_version < "3.14"
pyasn1==0.6.3 ; python_version >= "3.11" and python_version < "3.14"
pycodestyle==2.11.1 ; python_version >= "3.11" and python_version < "3.14"
pycparser==2.22 ; python_version >= "3.11" and python_version < "3.14"
pydantic-core==2.33.2 ; python_version >= "3.11" and python_version < "3.14"
pydantic==2.11.10 ; python_version >= "3.11" and python_version < "3.14"
pydeck==0.9.1 ; python_version >= "3.11" and python_version < "3.14"
pyflakes==3.2.0 ; python_version >= "3.11" and python_version < "3.14"
pygments==2.19.2 ; python_version >= "3.11" and python_version < "3.14"
pylint==3.3.3 ; python_version >= "3.11" and python_version < "3.14"
pymupdf==1.24.5 ; python_version >= "3.11" and python_version < "3.14"
pymupdfb==1.24.3 ; python_version >= "3.11" and python_version < "3.14"
pyparsing==3.2.0 ; python_version >= "3.11" and python_version < "3.14"
pypdf==6.9.2 ; python_version >= "3.11" and python_version < "3.14"
pypika==0.48.9 ; python_version >= "3.11" and python_version < "3.14"
pyproject-hooks==1.1.0 ; python_version >= "3.11" and python_version < "3.14"
pyreadline3==3.4.1 ; sys_platform == "win32" and python_version >= "3.11" and python_version < "3.14"
pytest-mock==3.14.0 ; python_version >= "3.11" and python_version < "3.14"
pytest==8.2.2 ; python_version >= "3.11" and python_version < "3.14"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "3.14"
python-docx==1.1.2 ; python_version >= "3.11" and python_version < "3.14"
python-dotenv==1.0.1 ; python_version >= "3.11" and python_version < "3.14"
python-json-logger==2.0.7 ; python_version >= "3.11" and python_version < "3.14"
python-pptx==1.0.2 ; python_version >= "3.11" and python_version < "3.14"
pytokens==0.4.1 ; python_version >= "3.11" and python_version < "3.14"
pytz==2024.1 ; python_version >= "3.11" and python_version < "3.14"
pywin32==306 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.11" and python_version < "3.14"
pywinpty==2.0.13 ; python_version >= "3.11" and python_version < "3.14" and os_name == "nt"
pyyaml==6.0.1 ; python_version >= "3.11" and python_version < "3.14"
pyzmq==26.0.3 ; python_version >= "3.11" and python_version < "3.14"
referencing==0.35.1 ; python_version >= "3.11" and python_version < "3.14"
regex==2024.5.15 ; python_version >= "3.11" and python_version < "3.14"
requests-oauthlib==2.0.0 ; python_version >= "3.11" and python_version < "3.14"
requests==2.32.4 ; python_version >= "3.11" and python_version < "3.14"
rfc3339-validator==0.1.4 ; python_version >= "3.11" and python_version < "3.14"
rfc3986-validator==0.1.1 ; python_version >= "3.11" and python_version < "3.14"
rich==13.7.1 ; python_version >= "3.11" and python_version < "3.14"
rpds-py==0.18.1 ; python_version >= "3.11" and python_version < "3.14"
rsa==4.9 ; python_version >= "3.11" and python_version < "3.14"
safetensors==0.4.3 ; python_version >= "3.11" and python_version < "3.14"
scikit-learn==1.6.0 ; python_version >= "3.11" and python_version < "3.14"
scipy==1.14.1 ; python_version >= "3.11" and python_version < "3.14"
send2trash==1.8.3 ; python_version >= "3.11" and python_version < "3.14"
sentence-transformers==3.4.1 ; python_version >= "3.11" and python_version < "3.14"
sentencepiece==0.2.1 ; python_version >= "3.11" and python_version < "3.14"
setuptools==78.1.1 ; python_version >= "3.11" and python_version < "3.14"
shellingham==1.5.4 ; python_version >= "3.11" and python_version < "3.14"
six==1.16.0 ; python_version >= "3.11" and python_version < "3.14"
smart-open==7.0.4 ; python_version >= "3.11" and python_version < "3.14"
smmap==5.0.2 ; python_version >= "3.11" and python_version < "3.14"
sniffio==1.3.1 ; python_version >= "3.11" and python_version < "3.14"
snowballstemmer==2.2.0 ; python_version >= "3.11" and python_version < "3.14"
sortedcontainers==2.4.0 ; python_version >= "3.11" and python_version < "3.14"
soupsieve==2.5 ; python_version >= "3.11" and python_version < "3.14"
spacy-legacy==3.0.12 ; python_version >= "3.11" and python_version < "3.14"
spacy-loggers==1.0.5 ; python_version >= "3.11" and python_version < "3.14"
spacy==3.7.5 ; python_version >= "3.11" and python_version < "3.14"
sphinx-autobuild==2024.10.3 ; python_version >= "3.11" and python_version < "3.14"
sphinx-rtd-theme==3.0.2 ; python_version >= "3.11" and python_version < "3.14"
sphinx==8.1.3 ; python_version >= "3.11" and python_version < "3.14"
sphinxcontrib-applehelp==2.0.0 ; python_version >= "3.11" and python_version < "3.14"
sphinxcontrib-devhelp==2.0.0 ; python_version >= "3.11" and python_version < "3.14"
sphinxcontrib-htmlhelp==2.1.0 ; python_version >= "3.11" and python_version < "3.14"
sphinxcontrib-jquery==4.1 ; python_version >= "3.11" and python_version < "3.14"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.11" and python_version < "3.14"
sphinxcontrib-qthelp==2.0.0 ; python_version >= "3.11" and python_version < "3.14"
sphinxcontrib-serializinghtml==2.0.0 ; python_version >= "3.11" and python_version < "3.14"
sqlalchemy==2.0.41 ; python_version >= "3.11" and python_version < "3.14"
srsly==2.4.8 ; python_version >= "3.11" and python_version < "3.14"
stack-data==0.6.3 ; python_version >= "3.11" and python_version < "3.14"
starlette==1.0.0 ; python_version >= "3.11" and python_version < "3.14"
streamlit-autorefresh==1.0.1 ; python_version >= "3.11" and python_version < "3.14"
streamlit==1.52.2 ; python_version >= "3.11" and python_version < "3.14"
sudachidict-core==20240409 ; python_version >= "3.11" and python_version < "3.14"
sudachidict-full==20240409 ; python_version >= "3.11" and python_version < "3.14"
sudachipy==0.6.8 ; python_version >= "3.11" and python_version < "3.14"
sympy==1.14.0 ; python_version >= "3.11" and python_version < "3.14"
tenacity==8.3.0 ; python_version >= "3.11" and python_version < "3.14"
terminado==0.18.1 ; python_version >= "3.11" and python_version < "3.14"
thinc==8.2.4 ; python_version >= "3.11" and python_version < "3.14"
threadpoolctl==3.5.0 ; python_version >= "3.11" and python_version < "3.14"
tiktoken==0.9.0 ; python_version >= "3.11" and python_version < "3.14"
tinycss2==1.2.1 ; python_version >= "3.11" and python_version < "3.14"
tokenizers==0.21.2 ; python_version >= "3.11" and python_version < "3.14"
toml==0.10.2 ; python_version >= "3.11" and python_version < "3.14"
tomli==2.2.1 ; python_version >= "3.11" and python_version < "3.14"
tomlkit==0.13.2 ; python_version >= "3.11" and python_version < "3.14"
torch==2.11.0 ; python_version >= "3.11" and python_version < "3.14"
tornado==6.5.5 ; python_version >= "3.11" and python_version < "3.14"
tqdm==4.66.4 ; python_version >= "3.11" and python_version < "3.14"
traitlets==5.14.3 ; python_version >= "3.11" and python_version < "3.14"
transformers==4.53.2 ; python_version >= "3.11" and python_version < "3.14"
triton==3.6.0 ; python_version >= "3.11" and python_version < "3.14" and platform_system == "Linux"
truststore==0.10.0 ; python_version >= "3.11" and python_version < "3.14"
typer==0.12.3 ; python_version >= "3.11" and python_version < "3.14"
types-python-dateutil==2.9.0.20240316 ; python_version >= "3.11" and python_version < "3.14"
typing-extensions==4.12.2 ; python_version >= "3.11" and python_version < "3.14"
typing-inspection==0.4.2 ; python_version >= "3.11" and python_version < "3.14"
tzdata==2024.1 ; python_version >= "3.11" and python_version < "3.14"
unidic-lite==1.0.8 ; python_version >= "3.11" and python_version < "3.14"
uri-template==1.3.0 ; python_version >= "3.11" and python_version < "3.14"
urllib3==2.6.3 ; python_version >= "3.11" and python_version < "3.14"
uvicorn==0.30.1 ; python_version >= "3.11" and python_version < "3.14"
uvicorn[standard]==0.30.1 ; python_version >= "3.11" and python_version < "3.14"
uvloop==0.19.0 ; (sys_platform != "win32" and sys_platform != "cygwin") and platform_python_implementation != "PyPy" and python_version >= "3.11" and python_version < "3.14"
wasabi==1.1.3 ; python_version >= "3.11" and python_version < "3.14"
watchdog==6.0.0 ; python_version >= "3.11" and python_version < "3.14" and platform_system != "Darwin"
watchfiles==0.22.0 ; python_version >= "3.11" and python_version < "3.14"
wcwidth==0.2.13 ; python_version >= "3.11" and python_version < "3.14"
weasel==0.4.1 ; python_version >= "3.11" and python_version < "3.14"
webcolors==24.6.0 ; python_version >= "3.11" and python_version < "3.14"
webencodings==0.5.1 ; python_version >= "3.11" and python_version < "3.14"
websocket-client==1.8.0 ; python_version >= "3.11" and python_version < "3.14"
websockets==12.0 ; python_version >= "3.11" and python_version < "3.14"
wrapt==1.16.0 ; python_version >= "3.11" and python_version < "3.14"
xlsxwriter==3.2.2 ; python_version >= "3.11" and python_version < "3.14"
zipp==3.19.2 ; python_version >= "3.11" and python_version < "3.14"
